{% extends "base_layout.html" %}
{% load static %}

{% block title %}NOVA | Редактор статьи{% endblock title %}

{% block content %}
<div>
    <div>
        <h1 class="mb-4 display-6 display-md-4 fw-bold text-uppercase nova-ls-1">Редактор статьи</h1>
        <form class="d-grid gap-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form }}
            </div>
            <hr class="mt-4">
            <div class="row row-gap-3">
                <div class="col-md-auto">
                    <button class="btn btn-primary w-100 w-md-auto" type="submit">
                        Сохранить
                    </button>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-secondary w-100 w-md-auto" href="{% url 'homepage' %}">
                        Отмена
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}