{% extends "base_layout.html" %}
{% load static %}
{% block title %}Удаление статьи{% endblock title %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8" col-lg-6 text-center>
        <h1 class="mb-4">Вы уверены?</h1>
        <form class="d-flex justify-content-center gap-3" method="post">
            {% csrf_token %}
            <button class="btn btn-danger shadow-sm px-4" type="submit">Да</button>
            <a class="btn btn-outline-secondary px-4" href="{% url 'homepage' %}">Отмена</a>
        </form>
    </div>
</div>
{% endblock content %}