{% extends "base_layout.html" %}
{% load static %}
{% block title %}{{ article.title }}{% endblock title %}
{% block content %}
<article>
    <div class="text-center mb-4">
        <img class="img-fluid rounded shadow-sm" src="{{ article.thumbnail.url }}" alt="{{ article.title }}">
    </div>
    <h1 class="display-5 fw-bold mb-3">{{ article.title }}</h1>
    <div class="article-body fs-5 text-dark mb-5" style="line-height: 1.6; text-align:justify;">
        {{ article.body|linebreaks }}
    </div>
    {% if user.is_authenticated and user.id == article.author.id %}
    <div class="border-top pt-4">
        <a class="btn btn-outline-primary btn-sm me-2"
            href="{% url 'articles:update' slug=article.slug %}">Редактировать</a>
        <a class="btn btn-outline-danger btn-sm" href="{% url 'articles:delete' slug=article.slug %}">Удалить</a>
    </div>
    {% endif %}
</article>
{% endblock content %}