{% extends "base_layout.html" %}
{% block title %}Список статей{% endblock title %}
{% block content %}
<h1 class="mb-4">Список статей</h1>
<div class="mb-5">
    {% if user.is_authenticated %}
    <a class="btn btn-primary shadow-sm" href="{% url 'articles:create' %}">Добавить статью</a>
    {% endif %}
</div>
<div class="articles-container">
    {% for element in articles %}
    <div class="article-item mb-4">
        <h2>
            <a class="text-decoration-none text-primary" href="{% url 'articles:article_detail' slug=element.slug %}">
                {{ element.title }}
            </a>
        </h2>
        <p class="text-dark">
            {{ element.snippet }}
        </p>
        <small class="text-muted">
            {{ element.date }}
        </small>
        <hr class="mt-4">
    </div>
    {% endfor %}
</div>
{% endblock content %}