{% extends "base_layout.html" %}

{% block title %}NOVA | О проекте{% endblock title %}

{% block content %}
<!-- Адаптивный заголовок -->
<h1 class="mb-4 page-title fs-3 fw-bold text-uppercase d-md-none">О проекте</h1>
<h1 class="mb-4 page-title display-4 d-none d-md-block">О проекте</h1>

<div class="row">
    <div class="col-lg-12">
        <p class="lead text-muted">
            Автор проекта
        </p>
        <hr class="my-4">
        <p>
            Дунаев Сергей Сергеевич, Сургутский государственный университет, группа 609-31з "Программная инженерия", 2026
        </p>
        <p class="lead text-muted mt-5">
            Описание проекта
        </p>
        <hr class="my-4">
        <p>
            Создание проекта на Django в рамках учебного процесса в целях использования полученых знаний и навыков
        </p>
    </div>
</div>
{% endblock content %}