{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NOVA{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">NOVA project</a>

                <div class="vr d-none d-xl-block mx-3 text-light"></div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase px-3 nova-ls-1" href="{% url 'homepage' %}">
                                Новости
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-uppercase px-3 nova-ls-1"
                                href="{% url 'f1_project:season_standings' %}">
                                Турнирная таблица
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-uppercase px-3 nova-ls-1"
                                href="{% url 'f1_project:season_results' %}">
                                Результаты сезона
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-uppercase px-3 nova-ls-1"
                                href="{% url 'f1_project:teams-and-drivers' %}">
                                Команды и пилоты
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-uppercase px-3 nova-ls-1" href="{% url 'charts:data_analysis' %}">
                                Анализ данных
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-uppercase px-3 nova-ls-1" href="{% url 'about' %}">
                                О проекте
                            </a>
                        </li>
                    </ul>

                    <hr class="text-light my-2">

                    <div class="vr d-none d-xl-block mx-3 text-light"></div>

                    <div class="navbar-nav flex-row align-items-center justify-content-center">
                        {% if user.is_authenticated %}
                        <form action="{% url 'accounts:logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit"
                                class="nav-link text-uppercase border-0 bg-transparent px-3 nova-ls-1">
                                Выход
                            </button>
                        </form>
                        {% else %}
                        <a class="nav-link text-uppercase px-3 nova-ls-1" href="{% url 'accounts:login' %}">
                            Вход
                        </a>

                        <a class="nav-link text-uppercase px-3 nova-ls-1" href="{% url 'accounts:signup' %}">
                            Регистрация
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container my-3 my-md-5">
        <div class="bg-white p-3 p-md-5 shadow-sm rounded">
            {% block content %}{% endblock content %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>