{% extends "base_layout.html" %}

{% block title %}NOVA | Регистрация{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <h1 class="mb-4 display-6 display-md-4 fw-bold text-center text-uppercase nova-ls-1">Регистрация</h1>
        <form class="d-grid gap-3" action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %}
            <div class="form-fields">
                {{ form }}
            </div>
            <div class="row row-gap-3 justify-content-center">
                <div class="col-md-auto">
                    <button class="btn btn-primary w-100 w-md-auto" type="submit">
                        Зарегистрироваться
                    </button>
                </div>
            </div>
        </form>
        <p class="text-center mt-4 small text-muted">
            Уже есть аккаунт? <a class="text-primary text-decoration-none" href="{% url 'accounts:login' %}">Войти</a>
        </p>
    </div>
</div>
{% endblock content %}