{% extends "base_layout.html" %}

{% block title %}NOVA | Регистрация{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-5">
        <!-- Адаптивный заголовок -->
        <h1 class="mb-4 page-title fs-3 fw-bold text-center d-md-none">Регистрация</h1>
        <h1 class="mb-4 page-title display-5 text-center d-none d-md-block">Регистрация</h1>

        <form action="{% url 'accounts:signup' %}" method="post" class="d-grid gap-2">
            {% csrf_token %}
            
            <div class="form-fields">
                {{ form }}
            </div>

            <button class="btn btn-primary shadow-sm py-2 mt-3 text-uppercase fw-bold small" 
                    style="letter-spacing: 1px;" type="submit">
                Зарегистрироваться
            </button>
        </form>

        <p class="text-center mt-4 small text-muted">
            Уже есть аккаунт? <a href="{% url 'accounts:login' %}" class="text-primary text-decoration-none">Войти</a>
        </p>
    </div>
</div>
{% endblock content %}